doctype html

head
  meta(charset="UTF-8")

  meta(name="description" content="")
  meta(name="keywords" content="steven, gago")
  meta(name="author" content="steven gago")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  title= title

  //- Favicons
  link(rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png")
  link(rel="manifest" href="../images/favicons/site.webmanifest")
  link(rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")

  //- Bootstrap stylesheet
  link(rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
       crossorigin="anonymous")

  link(rel="stylesheet"
       href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
       integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
       crossorigin="anonymous")

  link(rel="stylesheet"
       type="text/css"
       href="/css/typography.css")

body(class="container")
  main
    section(class="mt-5")

      h1
        i(class="fas fa-cookie-bite") &nbsp;
        |Cookie Policy for StevenGago.com

      p
        | This page illustrates the Cookie Policy for StevenGago.com including

      ul
        li
          | What cookies are
        li
          | The information these cookies gather,
        li
          | How we use cookies,
        li
          | Why we use cookies on this website, and
        li
          | How cookies are used by this website


    section(class="mt-4")
      h2 What Are Cookies?

      p
        | The goal of cookies is to allow websites to "remember" things such as
        | logging in, shopping carts, etc.
        | To do this short pieces of text, or "cookies", less than or equal to 4096 characters,
        | are stored to your device by websites.
        | The cookie from this website probably reads
        | something like "visited=true; exprires=Fri, 18 Dec 2018 12:00:00 UTC;" or similar.

    section(class="mt-4")
      h2 The Cookies I Set

      p
        | Again, at this time, the only cookies I use are
      
      ol
        li Cookies from Google Analytics
        li Cookies to save user preferences

    section(class="mt-4")
      h2 Third Party Cookies

      p
        | This website uses Google Analytics,
        | one of the most popular and trusted website analyitics tools,
        | to help understand how this site is being used and how it can be improved.

    section(class="mt-4")
      h2 How I Use Cookies

      p
        | This site uses cookies to save user preferences.
        | Basically, we use cookies to determine if the user
        | has visited the site before.
        | If you are new, we run the self-typing code demonstration;
        | otherwise, we skip the self-typing stuff to save folks time.

      p
        | StevenGago.com also uses the third-party tool Google Analytics which
        | will store its own, distinct set of cookies.
        | Google Analytics helps me answer questions such as

      ul
        li
          | Is anyone visiting this website?
          | I want to know if this website is worth my time and money.
        li
          | Who is the audience of my website?
          | I want to know if I should tailor content differently or
          | incorporate other languages.
        li
          | How many people are using this website?
          | This will impact how much money I spend to keep this
          | website on the Internet.
        li
          | How long do people spend on my website?
          | That is, do users spend 2 seconds or 10 minutes on my website?
        li
          | Are the number of people visiting my website per month increasing or decreasing?

    section(class="mt-4")
      h2 Disabling Cookies

      p
        | For security reasons or privacy, it is possible to disable cookies on your device.
        | This is done by adjusting the settings on your
        | browser (see your browser's help for how to do this).
        br
        br
        strong
          | Be aware that disabling cookies will affect the functionality of this and many
          | other websites that you visit. Disabling cookies will usually result in also
          | disabling certain functionality and features of the this site.
          | If you are unsure, it is recommended that you leave cookies on.

    section(class="mt-4")
      h2 More Information

      p
        | Hopefully this has clarified things.
        | Again, if you aren't sure whether you need cookies or not,
        | it's usually safer to leave cookies enabled in case the cookies
        | interact with one of the features you use on my site or others.
        | However, if you are still looking for more information then feel free to
        | contact me at 
        a(href="mailto:hi@stevengago.com")
          | Hi@StevenGago.com
        | .
