//- footer.pug
footer(class="m-0 p-1 pt-2 fs-4")
  p(class="no-wrap-ellipsis text-center")
    a(href="/cookies")
      i(class="fas fa-cookie-bite"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="top"
        title="Cookie Policy")
    |&nbsp;

    //- |&copy; 2018 Steven Gago.  All rights reserved.
    |&copy; #{copyrightYear} Steven Gago.  All rights reserved. 

    span(class="powered-by")
      |&nbsp;
      i(class="fa fa-bolt" aria-hidden="true")
      |&nbsp;Powered by&nbsp;

      i(class="fab fa-html5"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="top"
        title="HTML5")
      
      |&nbsp;

      i(class="fab fa-css3"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="top"
        title="CSS3")
      
      |&nbsp;

      i(class="fab fa-sass"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="top"
        title="Sass")

      |&nbsp;
    
      i(class="fab fa-js-square"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="JavaScript")

      |&nbsp;

      i(class="fab fa-node"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Node JS")

      |&nbsp;

      i(class="fab fa-git" aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Git")

      |&nbsp;

      i(class="fab fa-github"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="GitHub.com")

      |&nbsp;

      i(class="fab fa-font-awesome"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="Font-Awesome.com")

      |&nbsp;

      i(class="fab fa-empire"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          title="The Empire")
