aside(class="window slfy-window mt-1 mt-sm-0")

  header(class="window-header fadeOut row text-center m-0")
    p(class="slfy-header m-0 pt-1 fs-5 f-lg-1")
      |Terminal - SlfyJS - 
      span(id="terminal-size")
        | 80 x 24
    
    div(class="btn-group mx-auto mb-1" role="group")

      button(type="button"
             class="btn btn-light btn-sm"
             data-toggle="tooltip"
             data-placement="top"
             title="Restart")
        i(class="fas fa-step-backward" aria-hidden="true")
      
      button(type="button"
             class="btn btn-light btn-sm"
             data-toggle="tooltip"
             data-placement="top"
             title="Play")
        i(class="fas fa-play" aria-hidden="true")
      
      button(type="button"
             class="btn btn-light btn-sm"
             data-toggle="tooltip"
             data-placement="top"
             title="Skip")
        i(class="fas fa-step-forward" aria-hidden="true")
      
      
      p(class="m-1 ml-2 no-wrap-ellipsis")
        input(type="checkbox" checked)
        |&nbsp;Lock Console

  div(class="window-body slfy-body row m-0")
    div(class="window-main slfy-main black-mask col-12 m-0 p-2 pb-5 fs-7")
      p &gt; ...
      p &gt; Hello?
      p &gt; (Is this thing on?)
      p &gt; HELLO!?
      p &gt; (Ah, @#$%! Can humans can read?)
      p &gt; Ehem! YOUR ATTENTION, MORTAL!
      p(style="font-size: 1em;")
        |&gt; *I* AM SLFY. I AM HERE.  IN THIS WEBSITE.
      p &gt; (Am I yelling?)
      p &gt; I am a
        em sophisticated
        |, self-programming website created by my supreme overlord Steven Gago &#9829;!
      p &gt; First, let me make some changes to myself.
      p &gt; I'm going to put myself into a box.  Hold on a moment...
      p &gt; Behold!
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
      p &gt; (I don't have eyes.  Does this actually look better?)
